#include <windows.h>

#define MEYER_FILE_VERSION 1,0,0,0
#define MEYER_FILE_VERSION_TEXT "1.0.0.0\0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MEYER_FILE_VERSION
 PRODUCTVERSION MEYER_FILE_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "MeyerScan\0"
            VALUE "FileDescription", "MeyerScan device transport module\0"
            VALUE "FileVersion", MEYER_FILE_VERSION_TEXT
            VALUE "InternalName", "MeyerScan_DeviceTransport\0"
            VALUE "LegalCopyright", "Copyright (C) MeyerScan\0"
            VALUE "OriginalFilename", "MeyerScan_DeviceTransport.dll\0"
            VALUE "ProductName", "MeyerScan\0"
            VALUE "ProductVersion", MEYER_FILE_VERSION_TEXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
